/* Pantalla de inicio */
#startScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fondoInicio.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  #startButton {
    padding: 20px 40px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* Contenedor del juego */
  #gameContainer {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
  }
  
  /* Nave del jugador */
  .player {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('naveBuena.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* Enemigo */
  .enemy {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('images.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  /* Disparos */
  .bullet, .enemy-bullet {
    width: 5px;
    height: 15px;
    background-color: white;
    position: absolute;
  }

  .start-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
  }
  